{% extends "base_student.html" %}
{% block title %}Update profile - Smart Attendance System{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet1.css') }}">
 {% endblock %}
{% block extra_css %}
<!--<style>-->

<!--    h2{-->
<!--    color:#A8DADC;}-->
<!--    form{-->
<!--    color:white;}-->
<!--</style>-->
{% endblock %}
{% block content %}
<div class="container">
    <h2>Update Profile</h2>
    <form method="POST">
         <div class="mb-3">
            <label for="Username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="Username" name="Username" value="{{ user.Username }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.Email }}" required>
        </div>
        <div class="mb-3">
            <label for="full_name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="full_name" name="full_name" value="{{ user.FullName }}" required>
        </div>
        <div class="mb-3">
            <label for="roll_number" class="form-label">Roll Number</label>
            <input type="text" class="form-control" id="roll_number" name="roll_number" value="{{ user.RollNumber }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
